@import "__close-image/popup__close-image.css";
@import "__container/popup__container.css";
@import "__content/popup__content.css";
@import "__item/popup__item.css";
@import "__head/popup__head.css";
@import "__save-button/popup__save-button.css";
@import "__image/popup__image.css";
@import "__photo/popup__photo.css";
@import "__name/popup__name.css";

.popup {
	display: flex;

	z-index: 1;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: all 0.7s ease;
	align-items: center;
	justify-content: center;
}
