.place__like {
	background-image: url(../../../image/like.svg);
	width: 21px;
	height: 19px;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	margin: auto 0;
}

.place__like:hover {
	cursor: pointer;
	opacity: 0.6;
}
