@import "__logo/header__logo.css";
@import "__name/headear__name.css";

.header {
	margin-top: 45px;
	height: 74px;
	border-bottom: 1px solid #545454;
	margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
	.header {
		margin-top: 28px;
		width: 100vw;
		position: relative;
		align-self: center;
	}
}
